<div class="animate__animated animate__fadeIn animate__faste">
  <h3>Por Capital</h3>
  <hr>

  <div class="row">
    <div class="col">
      <app-pais-input (onEnter)="buscar($event)" placeholder="Buscar por capital..." (onDebounce)="sugerencias($event)">
      </app-pais-input>
    </div>
  </div>
</div>

<hr>
<div *ngIf="hayError" class="alert alert-danger">
  No se encontro nada con el término: {{termino}}
</div>
<div class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
